.root {
  --font-size: 14px;
  --color-primary: #000;
  --color-border: #ccc;
  --padding-vertical: 8px;
  --padding-horizontal: 12px;

  overflow-x: auto;
  font-size: var(--font-size);
}

.__table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
